/* styles.css */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}

#navbar {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: flex-start;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin: 0;
    width: 100%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: block;
    width: 100%;
    text-align: left;
}

main {
    margin-left: 200px;
    padding: 1rem;
}

.hero {
    padding: 5rem 1rem 4rem;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    object-fit: cover;
    /* Ensures aspect ratio is maintained */
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.5rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #333;
}

.content-section {
    padding: 4rem 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.content-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project {
    margin: 2rem auto;
    max-width: 800px;
    text-align: left;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
    background-color: #000;
    color: #fff;
    font-size: 0.8rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #333;
}

@media (max-width: 767px) {
    header {
        width: 100%;
        height: auto;
        position: static;
    }

    main {
        margin-left: 0;
    }

    .hero {
        padding-top: 2rem;
    }
}
