@import "bourbon";

/* Demo styling */

* {
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid black;
}

body {
    background-color: #eee;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Buttons at the center */

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -259px;
    margin-left: -89px;
    text-align: center;
}

/* General styling for the links */

a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin: 20px auto;
}

.btn3,
.btn3:link,
.btn3:visited {
    color: #333;
    font-size: .8em;
    letter-spacing: .1em;
    text-transform: uppercase;
    min-width: 100px;
    max-width: 60%;
    position: relative;
    margin: 0 auto;
    border: 2px solid transparent;
    transition: all .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);

    &:after,
    &:before {
        content: "";
        position: absolute;
        left: - 1em;
        top: -2px;
        height: 3.3em;
        width: 0;
        border: 1px solid #c75842;
        transition: inherit;
    }

    &:after {
        left: auto;
        right: -1em;
    }

    &:hover {
        border-color: #c75842;
        transition: border-color .2s .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);

        &:after,
        &:before {
            right: -2px;
            transition: all .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);
        }

        &:before {
            left: -2px;
            right: auto;
        }
    }
}
