/* styles.css */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.hero {
    padding: 5rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 1rem;
    object-fit: cover;
    /* Ensures aspect ratio is maintained */
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    margin: 0.5rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #333;
}

.content-section {
    padding: 4rem 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.content-section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.project {
    margin: 2rem auto;
    max-width: 800px;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
    background-color: #000;
    color: #fff;
    font-size: 0.8rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 1px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #333;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: rgb(0, 0, 0);
}
